# Python for Planners: Up and Running with Python

### Planetizen Course

Author: [Geoff Boeing](http://geoffboeing.com/)

The first four chapters in this course introduced Python, demonstrated how to install it on your computer, stepped through the process of installing third-party packages, and then showed the basics of working with Jupyter notebooks. Now we will learn the basics of the Python language, starting in chapter 5.

## Chapter 5: Python Language Basics

Making the computer print 'Hello World!' is the standard first demonstration of every new programming language.

In Python, doing this is pretty simple:

In [1]:
print('Hello World!')

Hello World!

In [2]:
# this is a comment. the python interpreter ignores it.
# comments are just notes for humans to read to help understand the code
# best practice: add a comment for every couple lines of code to explain what's going on and why
# otherwise you'd be amazed at how quickly you might forget what your code is doing

### Math in Python

In [3]:
# add two integers
1 + 1

2

In [4]:
# multiply two integers
2 * 3

6

In [5]:
# spaces don't matter here, but keep them consistent for readability
2*3

6

In [6]:
# divide two integers
10 / 5

2.0

In [7]:
# raise 2 to the 4th power
2 ** 4

16

In [8]:
# take the square root of 9 (by raising it to the power of 0.5)
9 ** 0.5

3.0

### Working with variables

In [9]:
# variables, such as x here, contain values and their values can vary
x = 5

In [10]:
# what is the value of x?
x

5

In [11]:
# you can perform operations on variables, just like you can on two numbers
x + 3

8

In [12]:
# what is the value of x now?
x

5

In [13]:
# to update the value of a variable, you need to do an assignment again
x = x + 3

In [14]:
# and now what is the value of x?
x

8

In [15]:
# create a new variable y from an operation on x
x = 5
y = x * 2
y

10

In [16]:
# outputting values only displays the last thing output
x
y

10

In [17]:
# use print to write some value to the console
print(x)
print(y)

5
10

In [18]:
# you can comma-separate values to print multiple to the console on one line
print(x, y, 3, 1)

5 10 3 1

In [19]:
# you can also print the result of an expression
print(x * y)

50

### Getting help

In [20]:
# ask ipython for it by using '?'
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [21]:
# use tab-completion to fill in the rest of statements, functions, methods
prin

NameError: name 'prin' is not defined

In [ ]:
# tab-completion also works with variables you have created (ie, a variable in memory)
number_of_students = 10

In [ ]:
number_of_students

In [ ]:
# what about errors? you can't divide by zero...
12 / 0

For syntax errors or how to do something, Google it! StackOverflow is a particularly good site for code snippets and troubleshooting.

### Basic data types

Data in Python is interpreted as having a data type. In Python, the type is inferred at run time, and you can always ask Python what the type of an object is:

In [22]:
# integers are whole numbers
type(125)

int

In [23]:
# every variable has a data type, and they can be of any type
x = 125
type(x)

int

In [24]:
# float is a floating-point (aka decimal) number
some_rate = 4.3
type(some_rate)

float

In [25]:
# strings are strings of characters
my_text = 'abc'
type(my_text)

str

In [26]:
# a list is a collection of elements denoted by square brackets
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [27]:
type(my_list)

list

In [28]:
# a dictionary is a collection of key:value pairs, denoted by curly braces
person = {'first_name':'Geoff', 'last_name':'Boeing'}
person

{'first_name': 'Geoff', 'last_name': 'Boeing'}

In [29]:
type(person)

dict

### Strings

In [30]:
# some of the operators we saw earlier work on strings
city = 'Berkeley'
sep = ', '
state = 'California'
zip_code = '94720'

location = city + sep + state + ' ' + zip_code
print(location)

Berkeley, California 94720

In [31]:
zip_code = 02492

SyntaxError: invalid token (<ipython-input-31-e4050ead4bc2>, line 1)

In [32]:
# the zip code 02492 isn't actually a number, it's a string of numeric characters
zip_code = '02492'

In [33]:
# you can get the nth element from an iterable object (like a string) with [n] indexing notation
# remember, in Python the index starts with zero not one
print(location[0])
print(location[1])
print(location[2])

B
e
r

In [34]:
# how many characters are in this string?
len(location)

26

In [35]:
# get a substring from some position up to but not including a second position
location[2:5]

'rke'

In [36]:
# get the first 5 characters from the string
location[:5]

'Berke'

In [37]:
# get the characters from the string after the 5th position
location[5:]

'ley, California 94720'

In [38]:
# you can replace characters in a string with the replace() method
location.replace('e', 'E')

'BErkElEy, California 94720'

### Converting between types

In [39]:
zip_code

'02492'

In [40]:
# you can convert between data types
type(zip_code)

str

In [41]:
# convert the zip code string to an integer
zip_code = int(zip_code)
zip_code

2492

In [42]:
type(zip_code)

int

In [43]:
# math works now
zip_code * 2

4984

In [44]:
x = 3
print(x * 2)
y = str(x)
print(y * 2)

6
33

In [45]:
# the int function won't convert a string that looks like a floating point number
rent_str = '2500.00'
rent_int = int(rent_str)

ValueError: invalid literal for int() with base 10: '2500.00'

In [46]:
# but you can chain functions together to convert the string to a float then to an int
rent_int = int(float(rent_str))
rent_int

2500

In [47]:
# you cannot concatenate a string and a number
city = 'Berkeley '
zip_code = 94703
city + zip_code

TypeError: can only concatenate str (not "int") to str

In [48]:
# convert the number first, then concatenate
city + str(zip_code)

'Berkeley 94703'

### Lists

In [49]:
my_list = [2, 4, 6, 8]

In [50]:
# how many elements are in this list?
len(my_list)

4

In [51]:
# get the zero-th element in a list
my_list[0]

2

In [52]:
# you can update elements in a list because it is mutable
my_list[2] = 100
my_list

[2, 4, 100, 8]

In [53]:
# add a new element with the append() method
# lists can hold elements of varying data types
my_list.append('hello')
my_list

[2, 4, 100, 8, 'hello']

In [54]:
# you can also add lists to concatenate them
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### Dictionaries

In [55]:
antonyms = {'hot':'cold', 'fast':'slow', 'good':'bad'}
antonyms

{'hot': 'cold', 'fast': 'slow', 'good': 'bad'}

In [56]:
# you can access things in a dictionary using its keys
antonyms['hot']

'cold'

In [57]:
# you can update values in a dictionary because it is mutable
antonyms['hot'] = 'freezing'
antonyms

{'hot': 'freezing', 'fast': 'slow', 'good': 'bad'}

In [58]:
# what are all the keys in this dict?
antonyms.keys()

dict_keys(['hot', 'fast', 'good'])

In [59]:
# what are all the values in this dict?
antonyms.values()

dict_values(['freezing', 'slow', 'bad'])

## Chapter 6: Conditionals

### Boolean expressions

A boolean expression is one that can be evaluated by Python and interpreted as being True or False. The == operator is an assertion that what is on the left of it is equivalent to what is on its right.  The >= operator is greater than or equal to, and != asserts that two objects are not the same. Don't be confused by the similarity of '=' and '==': one is an assignment of a value to a variable, and the other is a comparison operator.  Some examples of boolean expressions:

In [60]:
# use == to evaluate if both sides are equivalent
2 + 2 == 4

True

In [61]:
# you can also compare variables
a = 1
b = 2
a == b

False

In [62]:
# > and < are greater than and less than
a > 10

False

In [63]:
# >= and <= are greater than or equal to, and less than or equal to
a >= 2

False

In [64]:
# use not for negation
not a >= 1

False

In [65]:
# use and to check if all of multiple conditions are satisfied
c = 5
c > 2 and c <= 5

True

In [66]:
# use or to check if at least one of multiple conditions are satisfied
c > 2 or c < 5

True

### If, Then, Else: Controlling Flow

In [67]:
# use an if statement to execute indented code only if some condition is true
x = 8
if x < 10:
    print(str(x) + ' is less than 10')

8 is less than 10

In [68]:
# you can chain conditions together with and/or
# group conditions with parentheses for readibility
x = 2.9
if (x >= 3) or (x <= 6):
    print('x is between 3 and 6')

x is between 3 and 6

In [69]:
# if the first if statement evaluates to false, elif executes a code block if its condition is true
# else executes a code block if no preceding if or elif evaluated to true
x = 11
if x < 10:
    print('x is less than 10')
elif x == 10:
    print('x equals 10')
else:
    print('x is greater than 10')

x is greater than 10

## Chapter 7: Loops

### Iteration

In [70]:
# create a list of even numbers
even_numbers = [2, 4, 6, 8, 10]
even_numbers.append(12)
even_numbers

[2, 4, 6, 8, 10, 12]

In [71]:
# iterate through the list, printing each element multiplied by 2
for even_number in even_numbers:
    print(even_number * 2)

4
8
12
16
20
24

In [72]:
# print out only the ints in a list
my_list = [3.3, 19.75, 6, 3.3, 8]
for element in my_list:
    if type(element) == float:
        print(element)

3.3
19.75
3.3

In [73]:
# the range function returns a list of numbers from 0 up to (but not including) n
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# because range goes up to but does not include the ending number, you can add 1 to capture it
n = 10
list(range(n + 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
# range optionally lets you specify a starting number, an ending number, and a step as arguments
list(range(2, 12, 2))

[2, 4, 6, 8, 10]

In [76]:
for x in range(2, 12, 2):
    print(x * 2)

4
8
12
16
20

In [77]:
# list comprehension lets you create a transformed list from another list
[str(x * 2) for x in range(2, 12, 2)]

['4', '8', '12', '16', '20']

## Chapter 8: Functions

In [78]:
# in chapter 6, we saw this bit of code:
x = 10
if x < 10:
    print('x is less than 10')
elif x == 10:
    print('x equals 10')
else:
    print('x is greater than 10')

x equals 10

In [79]:
# encapsulation turns a handful of statements into a reusable function
# your function can return results that you can use elsewhere in your code
def my_function(value):
    if value < 10:
        print('the value is less than 10')
    elif value == 10:
        print('the value equals 10')
    else:
        print('the value is greater than 10')
        
# now call the function
my_function(10)

the value equals 10

In [80]:
# find if some value appears in some list
def find_value(my_value, my_list):
    is_found = False
    for value in my_list:
        if value == my_value:
            is_found = True
    return is_found

# now use our function
user_id = 6
user_ids = [1, 2, 3, 4, 5, 6]
if find_value(user_id, user_ids):
    print('found it')
else:
    print('did not find it')

found it

In [81]:
# but, there is an easier way...
user_id in user_ids

True